<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script src="script.js"></script>
</head>
<body>
    <div class="calendar">
        <div class="calendar-card">1</div>
        <div class="calendar-card">1</div>
        <div class="calendar-card">1</div>
        <div class="calendar-card">1</div>
        <div class="calendar-card">1</div>
        <div class="calendar-card">1</div>
        <div class="calendar-card">1</div>
        <div class="calendar-card">1</div>
        <div class="calendar-card">1</div>
    </div>
</body>
</html>